* {
    margin: 0px;
    padding: 0px;
}
 body {
    background-image: url("/img/imgLogos/como-se-le-dice-a-las-personas-que-dan-charlas.jpg")!important;
}
.bgc {
    background-color: rgba(0, 0, 0, 0.597);
}
footer {
    
}